<nav class="navbar navbar-dark bg-primary">
  <span class="navbar-brand" href="/" >CRUD EN ANGULAR</span>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card mt-4">
        <div class="card-body">
          <div class="card-title">
            Ingrese un nuevo empleado
          </div>
          <div class="form-group">
            <input type="text" placeholder="Ingrese un nombre" class="form-control" [(ngModel)]="seleEmployee.name">
          </div>
          <br>
          <div class="form-group">
            <input type="text" placeholder="Ingrese un pais" class="form-control" [(ngModel)]="seleEmployee.country">
          </div>
          <br>
          <button class="btn btn-primary"(click)="addOrEdit()">Guardar</button>
          <button
          *ngIf="seleEmployee.id !== 0"
          class="btn btn-danger" (click)="delete()">Eliminar</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <ul class="list-group">
        <table class="table mt-4">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">NOMBRE</th>
              <th scope="col">PAIS</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of employeeArray" class="list-group-item-action">
              <td (click)="openForEdit(employee)"> <span class="badge badge-primary">{{employee.id}}</span></td>
              <td (click)="openForEdit(employee)"><span class="badge badge-primary">{{employee.name}}</span></td>
              <td (click)="openForEdit(employee)"> <span class="badge badge-primary">{{employee.country}}</span> </td>
            </tr>
          </tbody>
        </table>
    </ul>
    </div>
  </div>
</div>